@mixin rounded-bottom($clr, $z) {
  &::after {
    content: "";
    position: absolute;
    bottom: -8%;
    left: 0;
    height: 5rem;
    width: 100%;
    background: $clr;
    clip-path: ellipse(70% 65% at 50% 8%);
    z-index: $z;
  }
}
